.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.displayInline{
    display: inline-block !important;
}

hr{
    width: 50px;
    border-width: 4px;
    border-color: #ffffff;
}

.themeColor{
    border-color: #fed136 !important;
}

#main-header{
    opacity: 0;
}

#main-button{
    opacity: 0;
}
#main-hr{
    opacity: 0;
}

#dataSet{
    max-height: 500px !important;
    max-width: 500px !important;
    display: inline-block;
}
.whiteFont{
    color:#fff;
}

section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    color: #222;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    color: #222;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    color: #222;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    color: #222;
}

.contactInfo{
    color: #fff;
    font-size: 1.5em;
}

.infoSpace{
    padding-bottom: 50px;
}